.HeromainBack {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: relative;
    top: 0rem;
}

.HeromainBackCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 100vh;
    background: radial-gradient(#00ffff, transparent, transparent);
    filter: blur(5rem);
}

.HeromainBackGlossy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff22 2%, #ffffff00 99%);
    backdrop-filter: blur(5.625rem);
    height: 100vh;
    padding: 0rem 0rem 0rem;
}


.HeromainSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: .75rem;
}

.HeromainTextsection {
    display: flex;
    gap: .5rem;
    filter: drop-shadow(0.125rem 0.125rem 6.25rem rgba(0, 255, 255, 0));
    height: inherit;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex: 1;
}

.HeromainTextsection h5 {
    font-size: 1rem;
    font-weight: 300;
    text-align: start;
    width: 100%;
}

.HeromainTextsection h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: start;
    text-shadow: 0.0625rem -0.0625rem 1.5rem rgba(255, 255, 255, 0);
    color: transparent;
    width: 100%;
    -webkit-text-stroke: 1px whitesmoke;
    text-shadow: 0.25px 0.25px 20px #c9ffffd3;
}

.HeromainTextsection h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
    width: 100%;
}

.learn-more {
    background-color: rgba(255, 255, 255, 0);
    border: .0625rem solid #00ffff;
    color: #ffffff;
    border-radius: 1.5rem;
    padding: .75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.75rem;
    box-shadow: 0 .125rem 1rem .25rem #00ffff46, inset 0 0 .75rem .125rem #00ffff8f;
    transition: .5s background-color, .5s border-color, .6s color;
}

.learn-more:hover {
    background-color: #00ffff;
    border-color: rgb(0, 0, 0);
    color: black;
    cursor: pointer;
}

.HeromainVisualsection {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

.HeromainVisualsection img {
    max-width: 100%;
    height: inherit;
    filter: drop-shadow(0rem 2rem 5rem #f185d23b);
}


@media (min-width: 600px) {

    .HeromainSection {
        width: 92%;
        gap: 0rem;
    }

    .HeromainTextsection {
        flex: 2;
    }

    .HeromainTextsection h5 {
        font-size: 1.25rem;
    }

    .HeromainTextsection h1 {
        font-size: 2rem;
    }

    .HeromainTextsection h3 {
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) {

    .HeromainBackCircle {
        width: 25rem;
    }

    .HeromainSection {
        width: 85%;
        flex-direction: row;
        align-items: center;
        gap: 0rem;
    }

    .HeromainTextsection h5 {
        font-size: 1.5rem;
    }

    .HeromainTextsection h1 {
        font-size: 3.5rem;
    }

    .HeromainTextsection h3 {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {

    .HeromainSection {
        width: 80%;
    }

    .HeromainBackGlossy {
        padding: 4rem 0rem 0rem;
    }

    .HeromainTextsection {
        gap: .75rem;
    }
    
}

