.ServicemainBack {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0rem;
}

.ServicemainHeader {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.ServicemainHeader h5 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: .1875rem;
    text-transform: uppercase;
    color: #00ffff;
}

.ServicemainHeader h3 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: .625rem;
}

.ServicemainBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.ServiceSection {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ServiceBox {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.visualBox {
    width: 3.75rem;
    height: auto;
}

.ServiceBoxTextdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 0.25rem;
}

.ServiceBoxTextdiv h4 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.ServiceBoxTextdiv p {
    font-size: 1rem;
    font-weight: 300;
}



@media (min-width: 600px) {

    .ServicemainBack {
        width: 92%;
    }
}

@media (min-width: 768px) {

    .ServicemainBack {
        width: 85%;
    }

    .ServicemainHeader h3 {
        font-size: 2.8125rem;
    }

    .ServiceBox {
        gap: 0.75rem;
    }

    .ServiceBoxTextdiv h4 {
        font-size: 2rem;
    }

    .ServiceBoxTextdiv p {
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {

    .ServicemainBack {
        width: 80%;
    }

    .ServiceSection {
        width: calc(50% - 2.5rem);
    }

    .ServiceBox {
        flex-direction: row;
    }
}

@media (max-width: 768px) {}

@media (max-width: 599px) {

    .ServicemainBack {
        width: 90%;
        height: auto;
    }
}