.TestimonialsmainBack {
  color: white;
  width: 100%;
  padding: 80px 0px 100px;
  text-align: center;
  position: relative;
}

.TestimonialsmainHeader {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  /* padding-left: 30px; */
}

.TestimonialsmainHeader h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #00ffff;
}

.TestimonialsmainHeader h3 {
  font-weight: bolder;
  color: white;
  font-size: 1.25rem;
}

.TestimonialsmainSlider {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
  gap: 54px;
  width: 100%;
}

.TestimonialsSliderVisualDiv {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.TestimonialSpeaker {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Video_player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  cursor: pointer;
}

.TestimonialsVideoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;
  max-height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 4px;
}

.PlayercloseButton {
  position: absolute;
  top: -50px;
  right: 0px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: whitesmoke;
  display: none;
}

.FramePlayer {
  width: 940px;
  height: 529px;
}

.TestimonialsSlidermainTextDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

}

.TestimonialsSliderTextDiv {
  width: 100%;
  height: auto;
  align-items: start;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: start;
  gap: 32px;
}

.TestimonialsSliderTextDiv h3 {
  font-weight: bolder;
  font-size: 40px;
}

.TestimonialsSliderTextDiv p {
  font-weight: 400;
  font-size: .875rem;
}

@media (min-width: 600px) {

  .TestimonialsmainBack {
    width: 92%;
  }
}

@media (min-width: 768px) {

  .TestimonialsmainBack {
    width: 85%;
  }

  .TestimonialsmainHeader h3 {
    font-size: 45px;
  }

  .TestimonialsmainSlider {
    flex-direction: row;
  }
}

@media (min-width: 992px) {

  .TestimonialsmainBack {
    width: 80%;
  }
}


@media (max-width: 599px) {

  .TestimonialsmainBack {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .PlayercloseButton {
    display: block;
  }
}


.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slide div {
  width: 100%;
}

.slick-prev::before,
.slick-next::before {
  font-size: 45px;
  color: #ffffff !important;
  transition: .5s color;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #00ffff !important;
}

.slick-arrow {
  width: 45px !important;
  height: 45px !important;
  top: 103% !important;
  z-index: 999;
}

.slick-next {
  right: 0px;
}

.slick-prev {
  left: 0px;
}


.custom-dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.slick-dots li.slick-active .custom-dot {
  background-color: #00ffff;
  filter: drop-shadow(4px 4px 10px #00ffff);
}