@media screen and (min-width:1441px) {
    html {
        font-size: 110%;
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 90%;
    }
}
@media screen and (width:768px) {
    html {
        font-size: 100%;
    }
}
@media screen and (max-width:767px) {
    html {
      font-size: 90%;
    }
  }